{{#partial "content"}}
    <section>
        <div class="row text-center justify-content-center">
            <div class="col-auto"><h4>Create A New Schema</h4></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <form method="post" action="/manage/schema/create" id="schema-create">
                    <div class="row g-3 m-2">
                        <div class="col-3 text-end">
                            <label for="name" class="col-form-label fw-bold">Name</label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="name" name="name" class="form-control border border-dark bg-light"
                                   maxlength="45" placeholder="Schema Name" required>
                        </div>
                    </div>
                    <div class="row g-3 m-2">
                        <div class="col-3 text-end">
                            <label for="description" class="col-form-label fw-bold">Description</label>
                        </div>
                        <div class="col-6">
                            <textarea id="description" name="description"
                                      class="form-control border border-dark bg-light"
                                      placeholder="A description for the schema"></textarea>
                        </div>
                    </div>
                    <div class="row g-3 justify-content-center m-2">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-outline-primary mb-3">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{{/partial}}
{{> common/base}}