{{#partial "content"}}
{{#with currentDashboard}}
    <h4>Dashboard: <i>{{name}}</i></h4>
    <div class="row">
        <div class="col-12">
            <small>{{description}}</small>
        </div>
    </div>
    <div class="row">

    </div>
{{/with}}
{{/partial}}

{{> common/base}}
